
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MoviesFair</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MoviesFair.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" type="image/x-icon" href="~/avicon.ico">
</head>
<body>
    <header class="class=" container"">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid "style="margin-left:60px; margin-right:60px">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MoviesFair</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

     


                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="moviesDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Movies
                            </a>
                            <div class="dropdown-menu" aria-labelledby="moviesDropdown">
                             

                                <a class="nav-link text-dark" asp-action="MoviesByGenre" asp-route-genreName="Horror"> Horror Movies</a>
                                <a class="nav-link text-dark" asp-action="MoviesByGenre" asp-route-genreName="Action"> Action Movies </a>
                                <a class="nav-link text-dark" asp-action="MoviesByGenre" asp-route-genreName="Romantic"> Romantic Movies</a>
                                <a class="nav-link text-dark" asp-action="MoviesByGenre" asp-route-genreName="Animation"> Animation Movies</a>
                                <a class="nav-link text-dark" asp-action="MoviesByGenre" asp-route-genreName="Sci_Fi"> Sci-Fi Movies</a>
                                <a class="nav-link text-dark" asp-action="MoviesByGenre" asp-route-genreName="War"> War Movies</a>
                                <a class="nav-link text-dark" asp-action="MoviesByGenre" asp-route-genreName="Advanture"> Advanture Movies</a>
                                <a class="nav-link text-dark" asp-action="MoviesByGenre" asp-route-genreName="History"> History Movies</a>
                                <a class="nav-link text-dark" asp-action="MoviesByGenre" asp-route-genreName="Comedy"> Comedy Movies</a>
                               
                   

                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="seriesDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Series
                            </a>
                            <div class="dropdown-menu" aria-labelledby="seriesDropdown">
                   
             
                                <a class="nav-link text-dark" asp-action="MoviesByCategory" asp-route-categoryName="Hollywood Movie">Hollywood Movie</a>
                                <a class="nav-link text-dark" asp-action="MoviesByCategory" asp-route-categoryName="Tv Series">Tv Series</a>
                                <a class="nav-link text-dark" asp-action="MoviesByCategory" asp-route-categoryName="Hollywood">Hollywood</a>
                                <a class="nav-link text-dark" asp-action="MoviesByCategory" asp-route-categoryName="English Movie">English Movie</a>
                                <a class="nav-link text-dark" asp-action="MoviesByCategory" asp-route-categoryName="Turkish Series">Turkish Series</a>
                                <a class="nav-link text-dark" asp-action="MoviesByCategory" asp-route-categoryName="Chinese Movie">Chinese Movie</a>
                                <a class="nav-link text-dark" asp-action="MoviesByCategory" asp-route-categoryName="Asian Movies">Asian Movies</a>
                                <a class="nav-link text-dark" asp-action="MoviesByCategory" asp-route-categoryName="Arabic Movies">Arabic Movies</a>
                                <a class="nav-link text-dark" asp-action="MoviesByCategory" asp-route-categoryName="Dollywood ">Dollywood  Movies</a>

                             
                            </div>
                        </li>

                 



                        @if (User.IsInRole("Admin"))
                        {

                            <li>
                                <a asp-area="Admin" asp-controller="Movies" asp-action="Index" class="nav-link">Manage Movies</a>
                            </li>

                            <li>
                                <a asp-area="Admin" asp-controller="Genre" asp-action="Index" class="nav-link">Genre</a>
                            </li>

                            <li>
                                <a asp-area="Admin" asp-controller="Categories" asp-action="Index" class="nav-link">Categories</a>
                            </li>

                            <li>
                                <a asp-area="Admin" asp-controller="Role" asp-action="Index" class="nav-link">Role</a>
                            </li>

                        }

                         @if (User.IsInRole("Customer"))
                        {
                            <li>
                                <a asp-area="Customer" asp-controller="Home" asp-action="FavoriteMovies" class="nav-link">My Favorites</a>
                            </li>
                        }


                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="seriesDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Important Sites
                            </a>
                            <div class="dropdown-menu" aria-labelledby="ImportantSites">
                                <a class="dropdown-item" href="https://www.imdb.com/list/ls020735081/">Netflix Top</a>
                                <a class="dropdown-item" href="https://m.imdb.com/chart/top/">Top Imdb</a>
                                <a class="dropdown-item" href="https://m.imdb.com/chart/tvmeter/">Top 10 Series</a>
                                <a class="dropdown-item" href="https://www.imdb.com/list/ls009480135/">Oscar</a>
                                <a class="dropdown-item" href="https://sflix.to/tv-show">Top Free Movie show</a>
                  
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Request" asp-action="Index">Request a Movie</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="About" asp-action="Index">About</a>
                        </li>


                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>



        <!-- Footer -->
        <footer class="text-center text-lg-start text-dark"
                style="background-color: #ECEFF1">
            <!-- Section: Social media -->
            <section class="d-flex justify-content-between  "
                 style="background-color: #ECEFF1">
             
                <!-- Left -->
            <div >
               @* 
                
                        <a href="https://www.instagram.com/aminul_islam_122/?hl=en" title="youtube"><i class="fa fa-share-alt"></i></a>
                
                        <i class="fa fa-instagram fs-2"></i>
                        <a href="https://www.instagram.com/aminul_islam_122/?hl=en" title="instagram"> Instagram <i class="fa fa-instagram"></i> </a>
                   
                        <a href="https://www.facebook.com/aminulislamniloy122/" title="facebook"><i class="fa fa-facebook"></i></a>
                    
           
                        <i class="fa-brands fa-github fs-2"></i>
                        <a href="https://github.com/aminul-islam-niloy" title="Github">Github <i class="fa-brands fa-github"></i></a>
                        *@
             
            </div>
                <!-- Right -->
            </section>
            <!-- Section: Social media -->
            <!-- Section: Links  -->
            <section class="">
                <div class="container text-center text-md-start mt-2">
                    <!-- Grid row -->
                    <div class="row mt-3">
                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto ">
                            <!-- Content -->
                            <h6 class="text-uppercase fw-bold">Movies Fair</h6>
                            <hr class="mb-4 mt-0 d-inline-block mx-auto"
                                style="width: 60px; background-color: #7c4dff; height: 2px " />
                                <div>
                        <img src="~/Favicon/Movie logo.png" alt="Movies Fair Image" style="width:60%; height:auto; margin-top:5px ">
                        </div>

                        </div>



                    
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold">Our Service</h6>
                            <hr class="mb-4 mt-0 d-inline-block mx-auto"
                                style="width: 60px; background-color: #7c4dff; height: 2px" />
                            <p>
                                <a href="#!" class="text-dark">TV Chennel Finder</a>
                            </p>
                            <p>
                                <a href="#!" class="text-dark">What to watch</a>
                            </p>
                            <p>
                                <a href="#!" class="text-dark">A24 Collction</a>
                            </p>
                            <p>
                                <a href="#!" class="text-dark">Get in Touch</a>
                            </p>
                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold">Useful links</h6>
                            <hr class="mb-4 mt-0 d-inline-block mx-auto"
                                style="width: 60px; background-color: #7c4dff; height: 2px" />
                            <p>
                                <a href="#!" class="text-dark"> Account</a>
                            </p>
                            <p>
                                <a href="#!" class="text-dark">Become an Affiliate</a>
                            </p>
                            <p>
                                <a href="#!" class="text-dark">Shipping Rates</a>
                            </p>
                            <p>
                                <a href="#!" class="text-dark">Help</a>
                            </p>
                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold">Contact</h6>
                            <hr class="mb-4 mt-0 d-inline-block mx-auto"
                                style="width: 60px; background-color: #7c4dff; height: 2px" />
                            <p><i class="fas fa-home mr-3"></i> Dhaka Bangladesh</p>
                            <p><i class="fas fa-envelope mr-3"></i> moviesfair.com</p>
                            <p><i class="fas fa-phone mr-3"></i> +88 01568105212</p>
                       
                        </div>
                        <!-- Grid column -->
                    </div>
                    <!-- Grid row -->
                </div>
            </section>
            <!-- Section: Links  -->
            <div class="row md-4" style="margin-bottom:5px">

                <div class="col-md-4"></div>
                <div class="col-md-6">
                <div class="d-flex">
                    <div class="text-uppercase fw-bold">
                        &copy; 2024 - MoviesFair - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>

                    </div>
                    <div style="text-align:right ; margin-left:40px">
                        <i class="fa-brands fa-square-facebook fa-2x" ></i>
                        
                    </div>
                    <div style="text-align:right ; margin-left:20px">
                        <i class="fa-brands fa-github fa-2x" ></i>
                        
                    </div>
                    <div style="text-align:right ; margin-left:20px">
                        <i class="fa-brands fa-x-twitter fa-2x" ></i>
                        
                    </div>

                <div style="text-align:right ; margin-left:20px">
                    <i class="fa-brands fa-instagram fa-2x"></i>

                </div>
                   
                </div>

                </div>
                <div class="col-md-2"></div>
            </div>
            <!-- Copyright -->
            
            <!-- Copyright -->
        </footer>
        <!-- Footer -->

    <!-- End of .container -->

    <script>
        function getMoviesByGenre(genreName) {
            $.ajax({
                url: '@Url.Action("MoviesByGenre", "Home")',
                type: 'GET',
                data: { genreName: genreName },
                success: function (data) {
                   
                    $('#moviesContainer').html(data);
                },
                error: function () {
                    alert('Error occurred while retrieving movies.');
                }
            });
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).on('click', '.add-to-favorites', function () {
            var movieId = $(this).data('movie-id');
            $.ajax({
                url: '@Url.Action("AddToFavorites", "Home")',
                type: 'POST',
                data: { movieId: movieId },
                success: function () {
                    alert('Movie added to favorites.');
                },
                error: function () {
                    alert('Error occurred while adding movie to favorites.');
                }
            });
        });
    </script>

    <script>
        $(document).on('click', '.remove-from-favorites', function () {
            var movieId = $(this).data('movie-id');
            $.ajax({
                url: '@Url.Action("RemoveFromFavorites", "Home")',
                type: 'POST',
                data: { movieId: movieId },
                success: function () {
                    alert('Movie removed from favorites.');
                    // Optionally, update the UI to reflect the removal.
                    location.reload(); // Refresh the page
                },
                error: function () {
                    alert('Error occurred while removing movie from favorites.');
                }
            });
        });
    </script>




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
