@model List<MoviesFair.Models.Movie>

@{
    var title = ViewData["Title"] as string;
}

@if (Model.Any())
{
    <h4>@title</h4>
    <div class="container mt-4">
        <div class="row g-4">
            @foreach (var movie in Model)
            {
                <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                    <div class="card movie-card position-relative shadow-sm">
                        <a asp-action="Details" asp-area="Customer" asp-controller="Home" asp-route-id="@movie.Id">
                            <img class="card-img-top" src="@movie.Image" alt="@movie.Name">
                        </a>
                        <div class="card-body">
                            <h6 class="card-title">@movie.Name</h6>
                            <div class="movie-details d-flex justify-content-between">
                                <small class="text-muted">Year: @movie.Year</small>
                                <small class="text-muted"> Rating :
                                    <i class="far fa-star text-warning"></i> @movie.OverallRating
                                    
                                </small>
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-between" style="background-color:lavenderblush">
                            <a asp-action="Details" class="btn  btn-sm" asp-route-id="@movie.Id" title="Watch Now">
                                <i class="fas fa-play"></i> <span style="margin-left:5px">Watch</span>
                            </a>
                            <a href="https://drive.google.com/uc?export=download&amp;id=@movie.Sourcelink" class="btn  btn-sm" title="Download">
                                <i class="fas fa-download"></i>  <span style="margin-left:5px">Download</span>
                            </a>
                        </div>
                        <div class="position-absolute top-0 end-0 m-2">
                            <button class="btn btn-outline-danger btn-sm add-to-favorites" data-movie-id="@movie.Id">
                                <i class="fas fa-heart"></i>
                            </button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}



<script>
    $(document).ready(function () {
        $(document).on('click', '.add-to-favorites', function () {
            var movieId = $(this).data('movie-id');
            $.ajax({
                url: '@Url.Action("AddToFavorites", "YourControllerName")',
                type: 'POST',
                data: { movieId: movieId },
                success: function () {
                    alert('Movie added to favorites.');
                },
                error: function () {
                    alert('Error occurred while adding movie to favorites.');
                }
            });
        });
    });
</script>
