@model List<MoviesFair.Models.Movie>

@{
    var title = ViewData["Title"] as string;
}

@if (Model.Any())
{
    <h4>@title</h4>
    <div class="container mt-4">
        <div class="row">
            @foreach (var movie in Model)
            {
                <div class="col-lg-3 col-md-4 mb-4">
                    <div class="card h-100 position-relative shadow-sm">
                        <a asp-action="Details"asp-area="Customer" asp-controller="Home" asp-route-id="@movie.Id">
                        <img class="card-img-top" src="@movie.Image" alt="@movie.Name" style="width: 100%; height: 300px;">
                        </a>
                        <div class="card-body">
                            <h6 class="card-title">@movie.Name</h6>
                            <div class="ms-lg-3 d-flex">
                                <small class="text-muted">Year: @movie.Year</small><br />
                                <small style="margin-left:15px" class="text-muted">Ratting: @movie.OverallRating</small><br />
                                  </div>
                        </div>
                        <div class="card-footer btn-group">
                            <a asp-action="Details" class="btn btn-primary" asp-route-id="@movie.Id">Watch Now</a>
                            <a href="https://drive.google.com/uc?export=download&amp;id=@movie.Sourcelink" class="btn btn-success">Download</a>
                        </div>
                        <div class="position-absolute top-0 end-0 m-3">
                            <button class="btn btn-outline-secondary btn-sm add-to-favorites" data-movie-id="@movie.Id"><i class="fas fa-plus"></i> Add to Favorites</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        $(document).on('click', '.add-to-favorites', function () {
            var movieId = $(this).data('movie-id');
            $.ajax({
                url: '@Url.Action("AddToFavorites", "YourControllerName")',
                type: 'POST',
                data: { movieId: movieId },
                success: function () {
                    alert('Movie added to favorites.');
                },
                error: function () {
                    alert('Error occurred while adding movie to favorites.');
                }
            });
        });
    });
</script>
