

@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-center">@ViewData["Title"]</h4>
                    <br />
               
                    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="mb-3">
                            <div class="form-floating">
                                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                                <label asp-for="Input.Email">Email</label>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="form-floating">
                                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                                <label asp-for="Input.Password">Password</label>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="form-floating">
                                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="mb-4">
                            <label>Select Role :</label> <br />
                            <div class="form-check">
                                <input type="checkbox" name="roles" value="Customer" class="form-check-input" id="customerRole" />
                                <label class="form-check-label" for="customerRole">Customer</label>
                            </div>
                              <div class="form-check">
                                  <input type="checkbox" name="roles" value="Admin" class="form-check-input" id="adminRole" />
                                  <label class="form-check-label" for="adminRole">Admin</label>
                              </div>
                        </div>
                        <button id="registerSubmit" type="submit" class="btn btn-primary w-100">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <br />
    <br />
    <br />
  
        <section style="text-align:center">
            <h5>Use another service to register.</h5>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

