@model List<MoviesFair.Models.Movie>

<h2>Favorite Movies</h2>
@if (Model.Any())
{
    <div class="container">
        <div class="row">
            @foreach (var movie in Model)
            {
                <div class="col-lg-3 col-md-4 mb-4">
                    <div class="card h-100 position-relative shadow-sm">
                        <a asp-action="Details"asp-area="Customer" asp-controller="Home" asp-route-id="@movie.Id">
                        <img class="card-img-top" img src="~/@movie.Image" style="height:270px; width:100%" alt="@movie.Name">
                        </a>
                        <div class="card-body">
                            <h6 class="card-title">@movie.Name</h6>
                            <div class="ms-lg-3">
                                <small class="text-muted">Year: @movie.Year</small><br />
                                <small class="text-muted">Ratting: @movie.OverallRating</small><br />
                            
                            </div>
                        </div>
                        <div class="card-footer btn-group">
                            <a asp-action="Details" asp-area"Customer" class="btn btn-primary" asp-route-id="@movie.Id"> Details</a>
                            <button class="btn btn-danger remove-from-favorites" data-movie-id="@movie.Id">Remove </button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
else
{
    <p>No favorite movies found.</p>
}
