@model List<MoviesFair.Models.Movie>

<h5>Favorite Movies</h5>
@if (Model.Any())
{
    <div class="container">
        <div class="row">
            @foreach (var movie in Model)
            {
                <div class="col-lg-2 col-md-3 mb-4">
                    <div class="card movie-card position-relative shadow-sm">
                        <a asp-action="Details"asp-area="Customer" asp-controller="Home" asp-route-id="@movie.Id">
                        <img class="card-img-top" img src="~/@movie.Image" alt="@movie.Name">
                        </a>
                        <div class="card-body">
                            <h6 class="card-title">@movie.Name</h6>
                            <div class="ms-lg-3">
                              
                            </div>
                        </div>
                        <div class="card-footer btn-group">
                            <a asp-action="Details" asp-area"Customer" class="btn btn-sm btn-primary" asp-route-id="@movie.Id"> Details</a>
                            <button class="btn btn-sm btn-danger remove-from-favorites" data-movie-id="@movie.Id">Remove </button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
else
{
    <p>No favorite movies found.</p>
}
